* {
   font-family: 'Staatliches', cursive;
   font-size: 100;
   
}

body {
   background-color:  #464646;
   color: #cf5f3c;
   background-image: url(FONDOINDEX3.jpg);
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   height: 100vh;
}

header {
   width: 100%;
   height: 100vh;

}

.contenedor {
   position: fixed;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   align-items: center;

}

.header-div__h1 {
   font-size: x-large;
   padding: 20px;
   width: 33vh;
   flex-grow: 2;
}

.header-div__tit a {
   color: #cf5f3c;
   text-decoration: none;
}

.header-div__tit a:hover {
   color:#f1744d;
   transition: 1s;
}

.header-div__search {
   padding: 20px;
   display: inline-flex;
   flex-grow: 1;
}

.header-div__search-buscar {
   color: #e6dcd4;
   font-size: large;
   width: 33vh;
   height: 40px;
   background: transparent; 
   outline: none;
   border: none;
   border-bottom: 2px solid #cf5f3c;
   flex-grow: 2;
}

::placeholder {
   color: rgb(28, 28, 28);
}

.header-div__search-buscar:focus {
   background: linear-gradient(to bottom, transparent, #663627); 
}

.header-div__search--ir {
   display: inline-block;
   width: 30px;
   background: rgb(50, 50, 50);
   color: #cf5f3c;
   border: none;
   border-bottom: 2px solid #cf5f3c;
   border-right: 2px solid #cf5f3c;
   border-radius: 15%;

}

.header-div__search--ir:hover {
   background: rgb(25, 25, 25);
   transition: 0.5s;
}

.header-div__search--ir:active {
   background: rgb(89, 89, 89);
   transition: 0s;
}

.header-nav {
   padding: 0;
   display: inline-block;
   width: 33vh;
   flex-grow: 2;
}

.header-list {
   display: flex;
   justify-content: flex-end;
}

 .header-list li {
   list-style: none;
   margin: 10px;
}

.header-list li a {
   color: #cf5f3c;
   text-decoration: none;
   font-weight: bold;
   transition: all 0.5s ease;
}

.header-list li a:hover {
   padding: 10px 15px;
   background: rgb(35, 35, 35);
   color:#ef7b58;
   border-radius: 20px;
   border-bottom: #f1744d;
}

.presentacion {
   height: 100%;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.presentacion-nombre {
   padding-left: 20px;
   font-size: 35px;
   color: #e6dcd4; 
}

.start {
   display: flex;   
   justify-content: center;
   align-items: center;
   height: 75vh;
   width: 100%;
}

.start p {
   font-size: 50px;
   color: #e6dcd4;

}