* {
   font-family: 'Staatliches', cursive;
   font-size: 100;
   
}

body {
   background-color:  #464646;
   color: #cf5f3c;

}

header {
   width: 100%;
   height: 100vh;
   background-size: cover;
   background-position: center;
   background-image: url(FONDOINDEX.jpg);

}

.contenedor {
   position: fixed;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   align-items: center;

}

.header-div__h1 {
   padding: 20px;
   width: 33vh;
   flex-grow: 1;
}

.header-div__search {
   padding: 20px;
   display: inline-flex;
   flex-grow: 1;
}

.header-div__search-buscar {
   color: #e5c9b1 ;
   font-size: large;
   width: 33vh;
   height: 40px;
   background: transparent; 
   outline: none;
   border: none;
   border-bottom: 2px solid #cf5f3c;
   transition: 1s;
   flex-grow: 2;
}

.header-div__search-buscar:focus {
   background: linear-gradient(to bottom, transparent, #663627);
}

.header-div__search--ir {
   display: inline-flex;
   width: 30px;
   background: rgb(35, 35, 35);
   color: #cf5f3c;
   border: none;
   border-bottom: 2px solid #cf5f3c;
   border-right: 2px solid #cf5f3c;
   border-radius: 15%;

}

.header-nav {
   padding: 20px;
   display: inline-block;
   width: 33vh;
   flex-grow: 1;
}

.header-list {
   display: flex;
   justify-content: flex-end;
}

 .header-list li {
   list-style: none;
   margin: 10px;
}

.header-list li a {
   color: #cf5f3c;
   text-decoration: none;
   font-weight: bold;
   transition: all 0.5s ease;
}

.header-list li a:hover {
   padding: 5px 10px;
   background: #fff;
   color: #000;
   border-radius: 15px;
}

.HOLABIENVENIDOS {
   border: 4px solid #000;
   display: flex;
   align-items: center;
   justify-content: center;
}

.art1 {
   border: 4px solid #000;
   justify-content: center;
}

.art1-h2 {
   border: 4px solid yellow;
   margin: 20px 50px;
   display: inline-block;
}

.art1-nav {
   border: 4px solid red;
   padding: 20px;
   display: inline-flex;
}

.art1-nav__list li{
   margin: 20px;
   list-style: none;
   display: inline-block;
}

.art1-nav__list li a {
   text-decoration: none;
}


